<mat-toolbar style="background: #dcdcdc; font-weight: 500; color: #000000;">
    <span>Food items</span><mat-icon>keyboard_arrow_right</mat-icon><span>{{ selectedIndex == 0 ? 'Manage' : 'Create' }}</span>
</mat-toolbar>
<mat-tab-group (selectedTabChange)='tabChange($event)' [selectedIndex]='selectedIndex'>
    <mat-tab label="Manage">
        <app-manage-dishes></app-manage-dishes>
    </mat-tab>
    <mat-tab label="Create">
        
        <div id='main' class="container">
            <form [formGroup]='dishForm' (ngSubmit)='submitDish()'>
                <div class="row spinner" *ngIf="isImageBeingUploaded">
                    <div class="col-sm-12">
                            <mat-progress-spinner mode='indeterminate'></mat-progress-spinner>
                    </div>
                </div>
                <div [ngClass]="{'transparent': isImageBeingUploaded}" class="row">
                    <div class="col-sm-6" style="min-height: 270px;">
                        <!-- Add image for dish -->
                        <mat-card (click)='dishImage.click()' class="previewWrapper mat-elevation-z7">
                            <mat-progress-bar *ngIf="isImageBeingUploaded" mode='indeterminate'></mat-progress-bar>
                            <img style="border-radius: 2px;" *ngIf="isImageSelected" id='previewImg' [src]="imgSrc" width="100%" height="270px" alt="dish-image">
                            <span *ngIf="!isImageSelected" class="previewText">Click here to select an image for your dish</span>
                            <input #dishImage  (change)='imageFileSelected($event)' type="file" accept="image/*" style="display: none;">
                        </mat-card>
                        <a (click)='dishImage.click()' id='filePicker'mat-fab>
                            <mat-icon>add</mat-icon>
                        </a>
                    </div>
                    <div class="col-sm-6" style="min-height: 270px;">
                        <!-- Add video for dish -->
                        <mat-card (click)='dishVideo.click()' class="previewWrapper mat-elevation-z7">
                            <mat-progress-bar *ngIf="isVideoBeingUploaded" mode='indeterminate'></mat-progress-bar>
                            <!-- <video id='id' hidden [src]="videoSrc"></video> -->
                            <!-- <img style="border-radius: 2px;" *ngIf="isImageSelected" id='previewImg' [src]="imgSrc" width="100%" height="270px" alt="dish-image"> -->
                            <span *ngIf="!isVideoSelected" class="previewText">Click here to select a video for your dish</span>
                            <span *ngIf="isVideoSelected" class="previewText"><mat-icon class='video-ready'>cloud_upload</mat-icon>Your video is ready for upload</span>
                            <input #dishVideo (change)='videoFileSelected($event)' type="file" accept="video/*" style="display: none;">
                        </mat-card>
                        <a id='filePicker'mat-fab (click)='dishVideo.click()'>
                            <mat-icon>add</mat-icon>
                        </a>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-container">
                            
                                <div class='form-elements'>
                                    <mat-form-field appearance="standard">
                                        <mat-label>Dish name</mat-label>
                                        <input formControlName='dishName' required matInput placeholder="Name for your dish">
                                        <mat-error *ngIf="dishName.invalid && dishName.touched && dishName.errors?.containsRestricted">
                                            Your dish name contains invalid characters
                                        </mat-error>
                                        <mat-progress-bar *ngIf="dishName.pending" mode="indeterminate"></mat-progress-bar>
                                        <mat-error *ngIf="dishName.errors?.nameExists">A dish with this name already exists</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="standard">
                                        <mat-label>Dish price</mat-label>
                                        <input required formControlName='dishPrice' type='number' matInput placeholder="Price for your dish">
                                        <mat-error *ngIf="dishPrice.touched && dishPrice.errors?.containsRestrictedNumber && dishPrice.invalid">
                                            Please enter a valid price
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <textarea required matInput formControlName='dishDescription' placeholder="Add a description for your dish here" type="text"></textarea>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-select required placeholder='Is your dish veg/non-veg?' formControlName='dishEssence'>
                                            <mat-option>--None--</mat-option>
                                            <mat-option value="veg">Veg</mat-option>
                                            <mat-option value="nonveg">Non-Veg</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-select required placeholder='Select a category for your dish' formControlName='dishCategory'>
                                            <mat-option>--None--</mat-option>
                                            <mat-option *ngFor="let category of categories$ | async" [value]="category.name">{{category.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field  *ngIf="showIngredients" >
                                        <mat-select
                                        required
                                        formControlName='dishIngredients'                            
                                        placeholder='Ingredients'
                                        multiple>
        
                                        <mat-option>--None--</mat-option>
                                        <mat-option *ngFor="let ingredient of ingredients$" [value]='ingredient' >
                                            {{ingredient.name}}
                                        </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button color='primary' [disabled]='!dishForm.valid' type="submit" mat-raised-button>Create dish</button>
                                </div>

                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>