.form-items {
    padding:20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

mat-option.single:hover {
    background: rgba(53, 49, 49, 0.25) !important;
}