<div>
    <form class="form-items" [formGroup]='form'>
        <!-- Name for dish -->
        <mat-form-field>
            <input type="text" formControlName='name' matInput placeholder="Name for your dish" >
            <mat-error *ngIf="form.get('name').errors?.required">Name is required</mat-error>
            <mat-error *ngIf="form.get('name').errors?.nameTaken">A dish with this name already exists</mat-error>
            <mat-progress-bar *ngIf="form.pending" mode='indeterminate'></mat-progress-bar>
        </mat-form-field>
        <!-- Price of dish -->
        <mat-form-field>
            <input type="text" formControlName="price" matInput placeholder="Price of your dish" >
            <mat-error *ngIf="form.get('price').errors?.required">Price is required</mat-error>
        </mat-form-field>
        <!-- Essence of dish -->
        <mat-form-field>
            <mat-select formControlName='essence' placeholder='Veg/Non-veg'>
                <mat-option class='single' value='veg'>Veg</mat-option>
                <mat-option class='single' value='nonveg'>Non-veg</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('essence').errors?.required">This field is required</mat-error>
        </mat-form-field>
        <!-- Ingredients of dish -->
        <mat-form-field *ngIf="showIngredients" >
            <mat-select formControlName='ingredients' placeholder='Ingredients' multiple>
                <mat-option>--None--</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Category of dish -->
        <mat-form-field>
            <mat-select formControlName='category' placeholder='Category'>
                <mat-option [value]='category.name' *ngFor="let category of categories$ | async">
                    {{category.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('category').errors?.required">Category is required</mat-error>
        </mat-form-field>
        <a color='warn' mat-raised-button (click)='onNoClick()'  >Cancel</a>
        <a (click)="onSubmitClicked()" [disabled]='form.invalid || form.pending' mat-raised-button color='primary' >Submit</a>
    </form>
</div>
