<div class="wrapper">
    <mat-card>
        <mat-card-title>Add food items to --catName-- category</mat-card-title>
        <mat-card-content>
            <mat-selection-list #list >
                <mat-list-option *ngFor="let food of foodItems$ | async"
                [value]='food' >{{food.name}}</mat-list-option>
            </mat-selection-list>
        </mat-card-content>
        <mat-card-footer>
            Your selection is {{list.selectedOptions.selected.length}}
            <button (click)='test(list)' mat-button >Submit</button>
        </mat-card-footer>
    </mat-card>
</div>