.spinner-container {

    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}


i.position {
    position: relative;
    top: -3.5px;
}

.search-container{
    width: 100%;
}

.search-container > * {
    width: 100%;
}

span.delete-icon {
    color:red;
}

/* .sample-container span {
    position: relative;
    top: -1px;
    margin: 0px 5px;
} */


.main-container{
    padding: 0px 10px;
    margin: 2px auto;
    width: 90%;
}

mat-cell#actions span {
    position: relative;
    top: 1.5px;
}

.main-container > * {
    width: 100%;
}

span.update-icon {
    color: blue;
}

span.update-icon:hover, span.delete-icon:hover {
    cursor: pointer;
}


/* .sample-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */