<div class="main-container">

    <mat-form-field>
        <mat-label for='search'>
            <div class="search-label">
                <i class="material-icons position">search</i>
                <p>Filter</p> 
            </div>
        </mat-label>
        <input id='search' type="text" matInput placeholder="Type something" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
    <mat-table matSort #table  class="mat-elevation-z6">
     
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
    
                
        <!-- Actions Column -->
    
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell id='actions' *matCellDef="let ingredient"> 
                {{''}} 
                <span (click)='delete(ingredient)' class="delete-icon"><i class="material-icons">delete</i></span>  
                <span (click)='update(ingredient)' class='update-icon'><i class="material-icons">edit</i></span>
            </mat-cell>
        </ng-container>
        
        <!-- Name Column -->
    
        <ng-container matColumnDef="name">
            <mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </mat-cell>
        </ng-container>
    
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
            <mat-cell *matCellDef="let ingredient">
                {{ingredient.quantity + ' ' + ingredient.unit + '(s)'}}
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns;" sticky='true'></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- <mat-paginator #paginator
            [hidden]='dataSource.loading$ | async'
            [length]='dataSource?.data.length'
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5,15,20]">
    </mat-paginator> -->
    <div *ngIf="dataSource.loading$ | async" class="spinner-container">
            <mat-spinner></mat-spinner>
    </div>
</div>
