<mat-toolbar style="background: #dcdcdc; color: #000000; font-weight: 500;" fixedInViewport>
    <span>Categories</span>
</mat-toolbar>
<mat-tab-group [selectedIndex]='selectedIndex' >
    <mat-tab label="Manage">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]='form' (ngSubmit)='submit()' >
                        <mat-form-field appearance="outline">
                            <mat-label>Category name</mat-label>
                            <input formControlName='categoryName' matInput placeholder="Name for your category">
                            <mat-icon matSuffix>style</mat-icon>
                            <mat-hint>Eg: Chinese, Continental</mat-hint>
                            <mat-error *ngIf="categoryName.dirty && categoryName.errors?.required">A name is required</mat-error>
                            <mat-error *ngIf="categoryName.dirty && categoryName.errors?.containsRestricted">Please use valid characters</mat-error>
                            <mat-error *ngIf="categoryName.errors?.nameExists">A category with that name already exists</mat-error>
                            <mat-progress-bar *ngIf="categoryName.pending" mode='indeterminate'></mat-progress-bar>
                        </mat-form-field>
                        <button [disabled]='form.invalid || categoryName.pending' color='primary' mat-raised-button>Submit</button>
                    </form>
                </div>
            </div>
            <ng-container  *ngIf="loading$ | async" class="row">
                <ng-container class="col-lg-12">
                    <mat-progress-spinner class='spinner' mode='indeterminate' ></mat-progress-spinner>
                </ng-container>
            </ng-container>
            <div class="row">
                <div *ngFor="let category of categories$ | async"  class="col-12">
                    <mat-card class="mat-elevation-z5" >
                        <mat-card-title>
                            <span class="category-name">{{category.name}}</span>
                            <span class="empty"></span>
                            <span (click)='deleteCategory(category)' class="delete">
                                <mat-icon color='warn'>cancel</mat-icon>
                            </span>
                        </mat-card-title>
                    </mat-card>
                </div>
            </div>
    </mat-tab>
</mat-tab-group>