.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 180px;
  box-shadow: 3px 0px 6px rgba(0, 0, 0, .24);
}

mat-toolbar.sidenav-toolbar {
  background-color: #4156b5 !important;
}

mat-toolbar a#nav-button {
  display: inline-block;
  color: white;
  margin: 0px 10px;
  text-decoration: none;
}

a#hamburger {
  text-decoration: none;
}

a#hamburger:hover {
  color: white;
}

mat-icon.icon {
  position: relative;
  top: 4.5px;
}

span.text {
  position: relative;
  left: 7px;
  color:white;
}


mat-icon.nav-icon {
  position: relative;
  left: 1px;
}
mat-icon.nav-icon:hover{
  cursor: pointer;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 45 !important; 
}

span.empty {
  flex: 1 1 auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
