<!-- <mat-sidenav-container>
    <mat-sidenav mode='side' [(opened)]='navOpened'>
        <h3 class="text-white text-center">Welcome!</h3>
        <mat-nav-list>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let item of items">
                <a mat-list-item (click)='navigate(item.name)' class="text-white text-center"> {{ item.name }} </a>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<app-mat-nav class='raise'>
    <router-outlet></router-outlet>
</app-mat-nav>