<div class="container">
    <div class="row">
        <div class="col-12 container">
            <form [formGroup]='form'>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName='name' placeholder="Name for ingredient" type="text">
                    <mat-progress-bar *ngIf="ingName.pending" mode='indeterminate'></mat-progress-bar>
                    <mat-error *ngIf="ingName.errors?.nameExists">An ingredient with that name already exists</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput formControlName='quantity' placeholder="Quantity for ingredient" type="number">
                    <mat-error *ngIf="ingQuantity.errors?.containsRestrictedNumber">Please enter a valid value</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Unit</mat-label>
                    <mat-select formControlName='unit'>
                        <mat-option value='unit'>Unit</mat-option>
                        <mat-option value='kg'>Kg</mat-option>
                        <mat-option value='ltrs'>Ltrs</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="dialog-actions">
                    <a id='cancel' mat-raised-button (click)='onNoClick()' color='warn'>Cancel</a>
                    <a id='update' (click)='onSubmitClicked()' [disabled]='form.invalid || ingName.pending' mat-raised-button color='primary'>Update</a>
                </div>
            </form>
        </div>
    </div>
</div>