button[mat-raised-button] {
    margin: 10px 0px;
}

.sample-container {
    display: flex;
    flex-direction: column;
}

.sample-container > * {
    width: 100%;
    margin-top: 20px; 
}

button[mat-raised-button] {
    padding: 8px 0px;
}

input[matInput] {
    margin: 10px 0px;
}