<div class='height'>
    <mat-progress-spinner class='spinner' *ngIf="loading$ | async"  mode='indeterminate' ></mat-progress-spinner>
    <div class='main-container'>
        <!-- <mat-form-field id='filter'>
            <input type="text" matInput placeholder="Filter">
        </mat-form-field> -->
    </div>
        <div class="row">
            <div *ngFor="let food of foodItems$ | async" class="col-lg-12">
                <mat-card class="mat-elevation-z8" >
                    <mat-card-title>
                        <span class="name">{{food.name}}</span>
                        <!-- <mat-chip-list class='category'>
                                <mat-chip selected color='primary'>{{food?.category?.name}}</mat-chip>
                        </mat-chip-list> -->
                        <span class='header essence'>
                            <img *ngIf="food.essence === 'nonveg'" src="../../assets/non-veg.png" height="38px" width="38px" alt="Non-veg food">
                            <img *ngIf="food.essence === 'veg'" src="../../assets/veg.png" height="38px" width="38px" alt="Vegetarian food">
                        </span>
                    </mat-card-title>
                    <mat-card-subtitle>Rs. {{food.price}}/- </mat-card-subtitle>
                    <mat-card-content>
                        <span class="wrapper">
                            <p (click)='editDish(food)' >Edit</p>
                            <p (click)='deleteDish(food)' >Delete</p>
                        </span>
                    </mat-card-content>
                </mat-card>
            </div>
</div>
