/* style to set to 100vh */
.height {
    padding: 0px 15px;
}

.spinner {
    position: relative;
    left: 45%;
    top:20px;
}

/* Styles for filter and progress bar */
.main-container {
    padding: 10px;
}

.main-container > * {
    width: 100% !important;
}

mat-form-field#filter  {
    padding: 0px 2px;
}

/* Styles for card list view */

mat-card {
    margin: 10px 7px;
    padding: 10px;
}

span.header {
    position: absolute;
    top: 10px;
}

.category {
    position: absolute;
    top: 13px;
    left: 86px;
}

span.essence {
    right: 10px;
}

span.name {
    font-size: 22px;
}


.wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 25px;
}

.wrapper p {
    color: #007bff;
}

.wrapper p:hover {
    cursor: pointer;
}

.wrapper p:nth-child(1) {
    margin-right: 60px;
}

.wrapper p:nth-child(2) {
    margin-right: 60px;
}

